<mat-toolbar color="primary">
    Flexiot Bluetooth Demo <mat-icon>battery_full</mat-icon>
</mat-toolbar>


<div class="demo-content">
    <button className="some-space" mat-raised-button color="primary" (click)="discoverAnyDevice()">Connect to Device</button> 

    <p>Battery Level: {{batteryLevel}}</p>

    <h1>Internals</h1>
    <mat-card className="light-gray-bg">
        <p *ngFor="let line of logContent">
            {{line}}
        </p>
    </mat-card>
</div>


<router-outlet></router-outlet>